.header-font{
    font-family: 'NanumSquareExtraBold', sans-serif;
}
.content-font{
    font-family: 'NanumSquareBold', sans-serif;
}

.display-container {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    z-index: 0;
    background-color: #E8F0FF;
    overflow-x: hidden;
}

/*여기 이후부터 쓰시면 돼요!*/

/*title*/
.cal-title{
    width: 370px;
    height: 90px;
    margin-left:auto;
    margin-right: auto;
    background-color: #88A2FF;
    margin-top:20px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 1px #7a83a1a1;
}
.custom-select{
  width: 330px;
  height: 60px;
  border-radius: 15px;
  margin-top:15px;
  text-align: center;
  border:none;
  font-size: 22px;
  align-items: center;
  box-shadow: 3px 3px 3px 1px #7a83a1a1 inset;
  color:#515c84

}

/*stamp pan*/
.stamp-pan{
  width: 370px;
  height: 350px;
  margin-left:auto;
  margin-right: auto;
  background-color: #DDE4FF;
  box-shadow: 3px 3px 4px 3px #7a83a1a1;
  margin-top:20px;
  border-radius: 25px;
}
.stamp-pan ul{
  margin-top: 30px;
}
.stamp-pan li{
  list-style: none;
}
/*main bar*/
  .main-bar{
    position:fixed;
    height: 100px;
    width: 415px;
    background-color: #88A2FF;
    box-shadow: 0px -4px 8px #8997c7a1;
    bottom:0;
}
.cal{
    z-index: 0;
    margin-bottom: 25px;
    padding-top:17px;
}
.cal button{
    width:70px;
    height: 70px;
    border:none;
    border-radius: 20px;
    background-color: #DCE4FF;
    color: #515c84;
}
.stat-btn{
    margin-left: 200px;
}
.plus{
    position: absolute;
    z-index: 1;
    margin-bottom: 25px;
    margin-left: 155px;
    position:fixed;
    bottom:0;
}
.plus-btn{
    width: 100px;
    height: 100px;
    border:none;
    border-radius: 60px;
    box-shadow: 3px 3px 3px 2px #444b65a1;
    color:#515c84;
    background-color: white;
}