.header-font{
    font-family: 'NanumSquareAceb', sans-serif;
}
.content-font{
    font-family: 'NanumSquareAcb', sans-serif;
}

.display-container {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    z-index: 0;
    background-color: #E8F0FF;
    overflow-x: hidden;
}

/*여기 이후부터 쓰시면 돼요!*/

/*target1*/
.main{
    position: relative;
}
.t-title{
    margin-top:60px;
}
.t-title p{
    font-size: 40px;
}
.t-title-b{
    padding: 5px 10px 5px 10px;
    background-color: #88A2FF;
    border-radius: 10px;
    color:white
}
.buttonmain{
    margin : 10px;
    display: flex;
}
.buttonmain button{
    width:170px;
    height:230px;
    margin:10px;
    border-radius: 25px;
    border:none;
    background-color:#DCE4FF;
    box-shadow: 4px 4px 4px 1px #7a83a1a1;
    font-size: 20px;
}
.btn-first{
    margin-bottom:10px;
}
.buttonmain img {
    width:110px;
    margin-top:10px;
}

/*target2*/
.target-box{
    width:350px;
    height: 520px;
    margin-left:auto;
    margin-right: auto;
    background-color: #DCE4FF;
    margin-top:10px;
    padding:30px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 1px #7a83a1a1;
    font-size: 20px;
}
.target-1{
    margin-bottom: 20px;
}
.target-1-text{
    width:285px;
    height:50px;
    border-radius: 20px;
    border:none;
    box-shadow: 3px 3px 3px 1px #7a83a1a1 inset;
    padding-top:5px;
    padding-left:15px;
    padding-right:15px;
    color:#33437A;
    font-size: 18px;
}
.target-2-text{
    width: 285px;
    height: 200px;
    overflow-x: hidden;
    border-radius: 20px;
    border:none;
    box-shadow: 3px 3px 3px 1px #7a83a1a1 inset;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    font-size: 18px;
}
::placeholder{
    color:#8d99c4
}
.next-btn button{
    margin-top: 40px;
    width:100px;
    height: 50px;
    background-color: #88A2FF;
    border-radius: 15px;
    border:none;
    color:white;
    font-size: 23px;
    box-shadow: 3px 3px 3px 1px #7a83a1a1;
}